.carts {
  .cart-row {
    @include media-breakpoint-up(md) {
      &+.cart-row {
        border-top: 1px solid #eaf0ed;
      }
    }
  }

  .cart-img {
    height: 110px;
    min-width: 110px;
    background-size: cover;
    background-position: center center;
  }

  .cart-control {
    width: 145px;

    .carts-input-group {
      .btn {
        width: 48px;
        height: 48px;
      }
    }

    .form-control {
      padding-top: 15px;
      padding: 15px;
      height: calc(1rem + 30px + 2px);
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .price {
    @include media-breakpoint-down(md) {
      border-top: 1px solid #eaf0ed;
      border-bottom: 1px solid #eaf0ed;
    }
  }

  .cart-msg-box {
    @include media-breakpoint-up(md) {
      background-color: #3f5d45;
      color: #fff;
    }

    .cart-title {
      background-color: $primary-light;
      color: #3f5d45;

      @include media-breakpoint-up(md) {
        background-color: #3f5d45;
        color: #fff;
      }
    }

    .cart-text {
      color: #3f5d45;

      @include media-breakpoint-up(md) {
        color: #fff;
      }
    }
  }

  .negative-row-margin {
    @include media-breakpoint-down(md) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.btn-primary-light {
  background-color: #fff;
}